@model IEnumerable<MVC_Movie.Models.Movie>

@{
    ViewData["Title"] = "Movies";
    bool isAdmin = User.IsInRole("Administrator");
}

<div class="card">
    <div class="card-header">
        <div class="d-flex mt-2 mb-2">
            <h4>List of all the Movies</h4>
            <!--Search Icon-->
            <a asp-action="Search" class="ms-auto">
                <i class="bi bi-search" style="font-size: 1.3rem;"></i>
            </a>
        </div>
    </div>
    <div class="card-body">

        @if (isAdmin)
        {
            <!--Admin Wallpaper-->
            <img src="~/images/Admin_wallpaper.jpg" alt="Admin Wallpaper"
                 class="card-img-top"
                 style="height:400px; object-fit:cover;" />

            <div style="position:absolute; top:85px; color: white;
                        background-color: rgba(0,0,0,0.6);
                        text-align:center; width:97.2%; height:80%;">
            </div>
            
        } 
        else
        {
            <!--Movie Wallpaper-->
            <img src="~/images/Movie-wallpaper.jpg" alt="Movie Wallpaper"
                class="card-img-top"
                style="height:400px; object-fit:cover;" />

            <div style="position:absolute; top:85px; color: white;
                        background-color: rgba(0,0,0,0.6);
                        text-align:center; width:97.2%; height:80%;">
                <h2 style="padding-top:150px;">HollyView</h2>
                <p>The Action has just begun</p>
            </div>
        }

    </div>
</div>

<!-- MOVIE CARDS -->
<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-md-2 mb-3">
            <div class="card text-success" style="width: 11rem;">
                <!-- MOVIE IMAGE -->
                @if (!string.IsNullOrEmpty(item.FileName))
                {
					<a style=" width: 100%"
					   asp-action="Details" asp-route-id="@item.Id">
						<img src="~/images/@item.FileName"
							 class="card-img-top"
							 style="height:300px; width:100%; object-fit:fill;" />
					</a>

                    <div style="position:absolute; top:5px; left:5px;
                                color: white; background-color: rgba(0,0,0,0.6);
                                padding:5px 5px; border-radius:5px;">
                        <strong>@item.ReleaseDate.Year</strong>
                    </div>

                    <div style="position:absolute; top:5px; right:5px;
                                background-color: rgba(0,0,0,0.6);
                                padding:5px 5px; border-radius:5px;">
                        <strong style="color:red;">HD</strong>
                    </div>

                    <div style="position:absolute; bottom:5px; right:5px;
                                background-color: rgba(0,0,0,0.6);
                                padding:5px 5px; border-radius:5px;">
                        <span>⭐</span>
                        <strong style="color:darkorange;">@item.Rating</strong>
                    </div>
                }
                else
                {
                    <div class="text-center p-5 text-muted">
                        <span>No Image</span>
                    </div>
                }
            </div>
        </div>
    }
</div>

<!-- IF EMPTY -->
@if (!Model.Any())
{
    <p class="text-muted text-center">No movies found.</p>
}

