html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Styling Badge Size*/
.navbar .badge {
    font-size: 0.7rem;
}

/* Menu Icon */
.icon-btn {
    width: 50px; 
    height: 40px;   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
}

.icon-btn i {
    font-size: 24px;
    color: #666;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon-btn:hover i {
    transform: scale(1.2);
    /*color: red;*/
}

/* ADMIN active */
.icon-btn.admin.active {
    background-color: rgba(220, 53, 69, 0.15); /* red bg */
}

.icon-btn.admin.active i {
    color: #dc3545; /* red icon */
}

.icon-btn.admin:hover i {
    color: red;
}
    
/* USER active */
.icon-btn.user.active {
    background-color: rgba(13, 110, 253, 0.15); 
}

.icon-btn.user.active i {
    color: #0d6efd; 
}

.icon-btn.user:hover i {
    color: blue;
}

/* Login: User Icon */
.user-icon {
    position: relative;
    cursor: pointer;
}

.user-icon::after {
     content: attr(data-user);
     position: absolute;
     bottom: -35px;
     left: 10%;
     transform: translateX(-50%);
     background: #000;
     color: #fff;
     padding: 4px 8px;
     font-size: 0.75rem;
     border-radius: 4px;
     white-space: nowrap;
     opacity: 0;
     pointer-events: none;
     transition: opacity 0.2s ease;
     z-index: 1000;
}

.user-icon:hover::after {
     opacity: 1;
}
